.ggg{background-color:#AEB6BF;}

.par{margin: 15px;padding:10px;}

form{
     border-radius:15px ;
     -webkit-border-radius:15px ;
     -moz-border-radius:15px ;
     -ms-border-radius:15px ;
     -o-border-radius:15px ;
     margin:10px
}

form .form-control , .form-select
{ border-radius:15px ;
  -webkit-border-radius:15px ; 
  -moz-border-radius:15px ; 
  -ms-border-radius:15px ; 
  -o-border-radius:15px ; }

.section{box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;border-radius:15px ;}



.sign{background-color:purple;color:white;font-size:18px;margin-bottom: 30px;}

.center{text-align:center;color:#566573;font-weight: bold;}


/*SIGN IN /////////////////////////////////////////////////////////////////////*/

.userSignIn{
            background-color:#D0D3D4;
            margin: 50px 0;
            padding:10px;
            height: 450px;
            border-radius:15px ;
            -webkit-border-radius:15px ;
            -moz-border-radius:15px ;
            -ms-border-radius:15px ;
            -o-border-radius:15px ;
}
.userSignIn h2{margin: 10px 0;color:#566573}

.u-sign input{ border-radius:25px ; margin: 35px 80px; padding: 13px;
}

.u-signBtn{ border-radius:25px ; padding:10px; font-size: 15px; font-weight: bold; width: 120px; margin: 0 320px; box-shadow: 7px 5px rgb(79, 160, 247); -webkit-border-radius:25px ; -moz-border-radius:25px ; -ms-border-radius:25px ; -o-border-radius:25px ;
}

.para{  margin: 20px 320px;cursor: pointer;border:0}

.with{color:#566573;font-weight: bold;
       margin: 0 12px; 
       border-radius:20px ;
        border: 2px solid #566573; 
        width: 270px;
}